/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

  -fx-background-color: white;
      
}


  #title{

       
    -fx-alignment: CENTER;
 -fx-focus-color: transparent;
 
    -fx-text-fill: grey
    }
    
    #AnchorPane{
   -fx-background-image: url("back.jpg")
}